# Core
torch==2.8.0+cpu
torchvision==0.23.0+cpu
torchaudio==2.8.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

# App & utils
gradio==5.43.1
captum==0.7.0
opencv-python-headless==4.10.0.84
pillow>=10.3.0
matplotlib==3.9.2
pandas==2.2.3
numpy>=1.26
